<h1>Edit comment</h1>

<%= form_with scope: :comment, model: @comment, local: true do |form| %>

    <p>
      <%= form.label :text %><br>
      <%= form.text_field :text %>
    </p>

    <p>
      <%= form.submit %>
    </p>

<% end %>
