<%= form_with scope: :comment, model: @comment, local: true do |form| %>

	<div>
		<h3>Message:</h3>
		<%= form.text_area :message %>
	</div>

	<%= form.hidden_field :post_id, :value => @comment.post.id %>

	<%= form.submit %>

<% end	%>