<p>
  <strong>Comment:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Back', comments_path %>
<%= link_to 'Byebye', comments_path(@comment),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>