
<div class="container w-50">
	<% @entries.each do |entry| %>
		<div class="card mt-5">
			<%= image_tag(entry.photo_url, :alt => "entry", :class => "card-img-top") %>
			<div class="card-body">
			<h5 class="card-title"><%=entry.author%></h5>
		</div>
		<div class="card-footer">
			<small class="text-muted"><%=entry.date_taken%></small>
		</div>
		</div>
	<% end %>

</div>
