<p>
  <strong>Photo:</strong>
	<%= image_tag(@entry.photo_url, :alt => "rss feed") %>
</p>

<p>
  <strong>Who:</strong>
  <%= @entry.author %>
</p>
<%= link_to 'Edit', edit_entry_path(@entry) %>
<%= link_to 'Back', entries_path %>

