<p>
  <strong>Title:</strong>
  <%= @article.author_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.photo_url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.title %>
</p>

<%= link_to 'Back', root_path %>