<%= form_with scope: :video, url: videos_path, local: true do |form| %>
  <p>
    <%= form.label :youtube_id %><br>
    <%= form.text_field :youtube_id %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>