<div class="header">
	<div class="brand">
			<div>
				<%= image_tag "logo.png", class: "logo"%>
				<div class="separator"></div>
				<h1>WDInstagram</h1>
			</div>
			<p>For all your FOMO needs</p>
	</div>
	<div class="nav">
		<%= link_to 'New Post', new_post_path, class: "newPost" %>
	</div>
</div>