<h2><%= link_to @tag.tag, tag_path %></h2>
<% @wdinstagrams.each do |wdinstagram| %>
<h3><%= wdinstagram.author %></h3>
<div><%= image_tag wdinstagram.photo_url, width: "200"%></div>
<% end %>

<%= link_to 'Home', wdinstagrams_path %>