<div class="container">
<h1># <%= @tag.hashtag %></h1>
	<%= link_to 'Back', tags_path %><br>
	<%= link_to 'Destroy', tag_path,
        method: :delete,
        data: { confirm: 'Are you sure?' } %>


  <strong>Posts:</strong>
  <p>
  <% @posts.each do |post| %>
  		<%= link_to cl_image_tag(post.photo_url), post_path(post)%>
</p>
		<% end %>
</div>