<h1>Photos</h1>

<p>
  <%= link_to 'New photo', new_photo_path %>
	<%= link_to 'All photos', photos_path %>
</p>

<% @photos.each do |photo| %>
  <%= link_to image_tag(photo.photo_url, style: 'height: 100px'), photo_path(photo) %>
	<%= photo.comments.count %>
<% end %>
