<h1>WDInstagram</h1>

<%= link_to 'NEW', new_photo_path %>
<table>
  
    <tr>
    <% @photos.each do |photo| %>
      <td><%= link_to image_tag(photo.url, style: 'height: 30vh ; width: 45vw '), photo_path(photo) %></td>
    </tr>
  <% end %>
</table>