<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @photo.photo_url %>
</p>

<p>
  <strong>Author:</strong>
  <%= @photo.author_name %>
</p>

<%= link_to 'Back', root_path %>