<h1>Instagram</h1>

<% @posts.each do |post| %>
	<div class="card mb-3">
	  <img src="<%= post.photo_url %>" class="card-img-top">
	  <div class="card-body">
	    <h5 class="card-title"><strong><%= post.title %></strong></h5>
	    <p class="card-text"><%= post.caption %></p>
	    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	  </div>
	</div>
<% end %>