<p>
  <strong>Author name:</strong>
  <%= @instagram.author_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @instagram.title %>
</p>
<p>
  <strong>Photo URL:</strong>
  <%= @instagram.photo_url %>
</p>

<%= link_to 'Back', root_path %>
