/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";

.main-page-container{
    width:500px;

    margin:0 auto;
    padding:20px;
    box-sizing: border-box;
}

.post-media{
    width:100%;
}

body{
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.card-img-modifier{
    border:1px solid rgba(0, 0, 0, 0.125);
}

.card-modifier{
    margin-bottom:10px;
}

.headbar{
    text-align: center;
    height:59px;
    line-height: 57px;
    background-color: white;
    font-family: 'Pacifico';
    font-size:25px;

}

.headbar a{
    color:black;
}

.headbar a:hover{
    text-decoration:none;
    color:blue;
}