body {
	margin: 30px 80px;
	font-family: 'Arimo', sans-serif;
}

table {
	border: 2px solid grey;
	width: 900px;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 50px;
	padding-left: 25px;
}

h3 {

	border-top: 2px dotted grey;
	border-bottom: 2px dotted grey;
}

div.newpost-link {
	padding-left: 25px;
}

div.header-log {
	text-align: right;
	font-family: 'Arimo', sans-serif;

}

div.container {
	border-top: 2px solid grey;
	margin-top: 10px;
}

div.front-one img {
	border-radius: 15px;
	max-width: 410px;
	margin: 30px 20px;
	padding: 5px;
	border: 2px solid grey;
}